#wrapper{
    background-image: url("../img/imgPaillasse.jpg");
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.top{
    width: 89%;
    height: 34%;
    /* border: 1px solid #000; */
    display: flex;
    flex-wrap: wrap;
    margin-left: -3%;
    background-color: rgba(20, 20, 20, 0.5);
}
.vide{
    width: 80%;
    height: 18%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0%;
    background-color: rgba(20, 20, 20, 0.5);
}

.centre{
    width: 89%;
    height: 14%;
    margin-left: -3%;
    display: flex;
    flex-wrap: wrap;
}
.bas{
    width: 95%;
    height: 34%;
    display: flex;
    flex-wrap: wrap;

}

.placard{
    width: 33.3%;
}
.planTravail{
    width: 85%;
    background-color: rgba(20, 20, 20, 0.7);
}
.lavabo{
    width: 15%;
    background-color: rgba(20, 20, 20, 0.7);
}
.prise{
    width: 13%;
    background-color: rgba(20, 20, 20, 0.7);
}
.placard-1{
    width: 20%;
    background-color: rgba(20, 20, 20, 0.7);
}
.poubelle{
    width: 20%;
    background-color: rgba(20, 20, 20, 0.7);
}